@keyframes previewDrop {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(20px);
    opacity: 0.8;
  }
  100% {
    transform: translateY(-30px);
    opacity: 0;
  }
}

@keyframes expand {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  20% {
    transform: scale(1.1);
    opacity: 1;
  }
  40% {
    transform: scale(1.3);
    opacity: 0.9;
  }
  60% {
    transform: scale(1.5);
    opacity: 0.7;
  }
  80% {
    transform: scale(1.2);
    opacity: 0.4;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}


.animate-preview {
  animation: previewDrop 0.7s forwards;
}

.slider-item {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slider-item.active {
  opacity: 1;
}

.right-4 {
  right: 1rem; /* Adjust as needed */
}
